{% extends 'base.html' %}
{% block content %}
  <div class="container mt-4">
    <h1 class="white-text-with-blue-shadow">MINI-BLOG</h1>
    {% for post in posts %}
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title">{{ post.title }}</h2>
          <p class="card-text">{{ post.content }}</p>
          <small class="text-muted">
            Опубліковано {{ post.published_at | date:"M d, Y" }} автором: {{ post.author | title }}
          </small>
        </div>
      </div>
      <hr>
    {% endfor %}
  </div>
{% endblock content %}